.container-main {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.position-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-main {
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

