/* Stili per il contenitore principale */
.container-services { 
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Stili per la sezione dei servizi */
.section-services {
    width: 100%; /* Assicurati che la sezione dei servizi occupi l'intera larghezza */
    max-width: 800px;
    margin: 20px 0;
}


.position-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* Stili per gli articoli */
.section-services-article article {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
